<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.mizo0203.komeiji.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/admin/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registersWebhookURL</servlet-name>
        <servlet-class>com.mizo0203.komeiji.RegistersWebhookUrlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registersWebhookURL</servlet-name>
        <url-pattern>/admin/registersWebhookURL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>subscriptions</servlet-name>
        <servlet-class>com.mizo0203.komeiji.SubscriptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>subscriptions</servlet-name>
        <url-pattern>/admin/subscriptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>count_subscriptions</servlet-name>
        <servlet-class>com.mizo0203.komeiji.CountSubscriptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>count_subscriptions</servlet-name>
        <url-pattern>/admin/count_subscriptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>is_subscribed</servlet-name>
        <servlet-class>com.mizo0203.komeiji.IsSubscribedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>is_subscribed</servlet-name>
        <url-pattern>/admin/is_subscribed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>returns_all_urls</servlet-name>
        <servlet-class>com.mizo0203.komeiji.ReturnsAllUrlsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>returns_all_urls</servlet-name>
        <url-pattern>/admin/returns_all_urls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>list_current_all_activity_type_subscriptions</servlet-name>
        <servlet-class>
            com.mizo0203.komeiji.ListCurrentAllActivityTypeSubscriptionsServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>list_current_all_activity_type_subscriptions</servlet-name>
        <url-pattern>/admin/list_current_all_activity_type_subscriptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deactivates_subscriptions</servlet-name>
        <servlet-class>com.mizo0203.komeiji.DeactivatesSubscriptionsServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deactivates_subscriptions</servlet-name>
        <url-pattern>/admin/deactivates_subscriptions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>twitter_hook</servlet-name>
        <servlet-class>com.mizo0203.komeiji.TwitterHookHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>twitter_hook</servlet-name>
        <url-pattern>/twitter_hook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>github_hook</servlet-name>
        <servlet-class>com.mizo0203.komeiji.GitHubHookHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>github_hook</servlet-name>
        <url-pattern>/github_hook</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.mizo0203.komeiji.repo.objectify.OfyHelper</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
